
.demoFormInline{
  .el-form-item{
    margin: 0 !important;
    input{ 
      height: 25px !important;
      line-height: 25px !important;
      background: #363636 !important;
      color: #2CC9FF;
    }
    input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      input[type="number"]::-webkit-inner-spin-button {
          width: 8px;
          background-color: #2CC9FF;
          border: none;
          margin-right: -10px;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          border-radius: 100%;
          cursor: default;
      }
      /* 修改选项的样式 */  
      el-scrollbar>.el-select-dropdown__item {  
        font-size: 14px !important; /* 修改选项字体大小 */  
        padding: 10px !important; /* 修改选项内边距 */  
        color: #0055ff !important; /* 修改选项文字颜色 */  
        background-color: #f200ff !important; /* 修改选项背景色 */  
      }  
        
      /* 修改选中状态的选项样式 */  
      .el-select-dropdown__item.selected {  
        color: #409eff !important; /* 修改选中文字颜色 */  
        background-color: #ff0000 !important; /* 修改选中背景色 */  
      }  
        
      /* 修改鼠标悬停时的选项样式 */  
      .el-select-dropdown__item:hover {  
        background-color: #0066ff !important; /* 鼠标悬停背景色 */  
      }
  }
}